<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mokee.imagnet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.nima.NimaDetailsActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.cilicat.CilicatDetailActivity" />
        <activity android:name=".activity.cilicat.CilicatSearchDetailActivity" />
        <activity android:name=".activity.ali.AliDetailActivity" />
        <activity android:name=".activity.btdb.BtdbMeDetailActivity" />
    </application>

</manifest>